header{
    /* background-color: #45474B;
    height: 100px;
    width: auto;
    top: 0;
    color: #379777;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger; */
    background-color: #0077B6;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    color: #333;

}

footer{
    /* background-color: #45474B;
    height: 100px;
    width: auto;
    bottom: 0;
    color: #379777;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger; */

    background-color: #0077B6;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);

    /* background-color: #45474B; 
    height: 60px; 
    width: 200%;
    border-top: 1px solid #575757;  
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    bottom: 0; */
    
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
}
section {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
a {
    /* color: #0077B6; */
    color: #fff;
    text-decoration: none;
}
a:hover {
    /* color: #FFD700; */
    /* color: #F4CE14; */
    color: #ffc107;
}